#popupLogin {
    display: flex;
    gap: 10%;
}

#popupLogin #txtIndicator {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    width: fit-content;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#popupLogin #txtIndicator:hover {
    color: darkblue;
}

