#root > h2 {
    text-align: center;
    font-size: 4vh;
    margin: 5vh;
}

#main_component {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#btn_logout #button_container {
    position: fixed;
    top: 1%;
    right: 2%;
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    #root > h2 {
        margin-top: 2em;
    }

    #main_component {
        flex-direction: column;
    }
}
