#button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: PixelMilie;
    font-size: 2vh;
    padding: 1em 2em 1em 2em;
}

#button:hover {
    filter: brightness(0.9);
}

#button img {
    height: 1.5em;
}