/* Personal Font */
@font-face {
    font-family : PixelMilie;
    src: url(font/PixelMilie.ttf);
}

html {
    font-family: PixelMilie;
    height: 100vh;
    background-color: wheat;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5vh;
    margin: 4%;
    margin-top: 1%;
}

h2, p {
    margin: 0;
}

/* ----- Content ----- */
#content {
    display: flex;
    width: 100%;
}

#library_side, #book_side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#library, #opened_book, #closed_book {
    height: 100%;
    position: relative;
}

#library > img:first-of-type, #opened_book > img:first-of-type, #closed_book > img {
    width: 100%;
    height: inherit;
}

#library_content, #opened_book_content, #closed_book_content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}