/* ----- Popup ----- */
#popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

#popupLogin, #popupDeleteLogout, #popupAddUpdateBook, #popupAddUpdatePassage {
    background-color: wheat;
    border-radius: 5%;
    width: 25%;
    height: 25%;
    padding: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popup input {
    width: 80%;
    font-size: 2vh;
    font-family: PixelMilie;
}

#popup label, #popup p {
    font-size: 1.8vh;
}

#popup h2 {
    font-size: 2.5vh;
    height: 10%;
    text-align: center;
}

#popup img {
    height: 40%;
}

/* -- Buttons --*/
.divButtons {
    display: flex;
    justify-content: center;
    gap: 20%;
    width: 100%;
    height: 20%;
}

#validateUserName, #validateDeleteLogout, #cancelDeleteLogout, #validateAddUpdateBook, #cancelAddUpdateBook, #validateAddUpdatePassage, #cancelAddUpdatePassage {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-family: PixelMilie;
    font-size: 1.75vh;
}

#validateUserName, #validateDeleteLogout, #validateAddUpdateBook, #validateAddUpdatePassage {
    background-color: rgb(127, 211, 127);
}

#cancelDeleteLogout, #cancelAddUpdateBook, #cancelAddUpdatePassage {
    background-color: coral;
}

#validateUserName:hover, #validateDeleteLogout:hover, #validateAddUpdateBook:hover, #validateAddUpdatePassage:hover {
    background-color: lightgreen;
}

#cancelDeleteLogout:hover, #cancelAddUpdateBook:hover, #cancelAddUpdatePassage:hover {
    background-color: lightcoral;
}

/* --- Popup Login ---*/
#popupLogin {
    display: none;
    gap: 10%;
}

#popupLogin p {
    font-size: 2.25vh;
}

/* --- Popup DeleteLogout ---*/
#popupDeleteLogout {
    display: none;
    gap: 30%;
} 

/* --- Add/Update ---*/
#fromAddUpdateBook, #fromAddUpdatePassage {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 80%;
    height: 50%;
}

#popupAddUpdateBook input, #popupAddUpdatePassage input {
    width: 100%;
}

#errorAddUpdateBook, #errorAddUpdatePassage {
    height: 20%;
    width: 80%;
}

#errorAddUpdateBook p, #errorAddUpdatePassage p {
    width: 100%;
    text-align: left;
    color: red;
    display: none;
}

/* --- Popup AddUpdateBook ---*/
#popupAddUpdateBook {
    display: none;
    height: 30%;
}

/* --- Popup AddUpdatePassage ---*/
#popupAddUpdatePassage {
    display: none;
    height: 30%;
}

#popupAddUpdatePassage input[type=number] {
    width: 25%;
}

#divRadioPages, #choicePages {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#divRadioPages div {
    display: flex;
    align-items: center;
    gap: 5%;
    padding-left: 5%;
}

#divRadioPages div input {
    width: fit-content;
    margin: 0;
}

#divPages {
    display: flex;
}

#firstChoice, #secondChoice {
    display: flex;
    align-items: center;
    gap: 2%;
}