#opened_book {
    display: flex;
    position: relative;
}

#opened_book_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.page {
    width: 42%;
    height: 76%;
    margin-bottom: 6vh;
}

.page > div {
    width: 100%;
    height: 20%;
}

#right_page {
    padding-top: 12vh;
}

#title, #addPassageDiv {
    height: 7%;
    display: flex;
    align-items: center;
    gap: 10%;
}

#title {
    height: 15%;
}

#title h2, #title p {
    width: 100%;
    text-align: center;
    font-size: 2vh;
}

#title p {
    margin: 0;
    font-size: 1.5vh;
}

#title > div:first-of-type {
    width: 80%;
}

#optionsBook {
    width: 20%;
    display: flex;
    gap: 10%;
    height: 40%;
}

#optionsBook img {
    height: 100%;
    cursor: pointer;
}

#addPassageDiv {
    margin-bottom: 3vh;
}

#addPassageDiv img {
    margin-left: 2%;
    height: 100%;
    cursor: pointer;
}

#addPassageDiv p {
    font-size: 1.75vh;
}

#pageIndicatorBookLeft, #pageIndicatorBookRight {
    position: absolute;
    font-size: 2.5vh;
    bottom: 11%;
}

#pageIndicatorBookLeft {
    left: 22.5%;
}

#pageIndicatorBookRight {
    right: 22.5%;
}

#changePageBookLeft, #changePageBookRight {
    width: 5%;
    position: absolute;
    bottom: 11%;
    cursor: pointer;
}

#changePageBookLeft {
    left: 4%;
    transform: scaleX(-1);
}

#changePageBookRight {
    right: 4%;
}