/* ----- Popup ----- */
#popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#popupLogin, #popupDeleteLogout, #popupAddUpdateBook, #popupAddUpdatePassage {
    background-color: wheat;
    border-radius: 20px;
    width: 25%;
    height: fit-content;
    padding: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popup input {
    width: 80%;
    font-size: 2vh;
    font-family: PixelMilie;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-left: 6px;
    margin-top: 1vh;
}

#popup h2 {
    font-size: 2.5vh;
    height: 10%;
    text-align: center;
}

#popup form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#form_container h3 {
    margin: 0;
    font-size: 2vh;
    margin-bottom: 1vh;
}

#form_container p {
    color: red;
    font-size: 1.5vh;
    margin: 0;
    margin-top: 0.5vh;
    text-align: left;
    width: 80%;
    margin-bottom: 1vh;
}

.divButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2vh;
}