#button_validate, #button_cancel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: PixelMilie;
    font-size: 1.75vh;
    box-sizing: border-box;
    padding: 5%;
}

#button_validate img, #button_cancel img {
    width: 25%;
}