#button_validate, #button_cancel {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-family: PixelMilie;
    font-size: 1.75vh;
}