#popupAddUpdatePassage {
    display: flex;
    height: 30%;
}

#popupAddUpdatePassage input[type=number] {
    width: 25%;
}

#divRadioPages, #choicePages {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#divRadioPages div {
    display: flex;
    align-items: center;
    gap: 5%;
    padding-left: 5%;
}

#divRadioPages div input {
    width: fit-content;
    margin: 0;
}

#divPages {
    display: flex;
}

#firstChoice, #secondChoice {
    display: flex;
    align-items: center;
    gap: 2%;
}