#popupAddUpdatePassage {
    display: flex;
    height: fit-content;
}

#popupAddUpdatePassage input[type=number] {
    width: 25%;
}

#divRadioPages {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#divRadioPages div {
    display: flex;
    align-items: center;
}

#divRadioPages div label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

#divRadioPages div label input {
    margin-bottom: 1vh;
    margin-right: 1.2vh;
}

#divRadioPages h4 {
    margin: 0;
}

#divRadioPages > div {
    justify-content: space-between;
}

#firstChoice, #secondChoice {
    justify-content: end;
    gap: 2%;
    width: fit-content;
}