/* ----- Library ----- */
#library_container {
    width: 30%;
    height: 75vh;
}

#library {
    position: relative;
    height: 100%;
}

#library > img:first-of-type {
    width: 100%;
    height: inherit;
}

#library_content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shelf {
    background-color: burlywood;
    width: 85%;
    height: 23%;
    margin-top: 2%;
    border: 1vh solid black;
    display: flex;
    align-items: end;
}

.shelf:first-of-type {
    margin-top: 10%;
}

.shelf img {
    width: 10%;
    height: fit-content;
    cursor: pointer;
}

#library_container p {
    position: absolute;
    bottom: 3%;
    left: 45%;
    font-size: 2.5vh;
}

#changePageLibraryLeft, #changePageLibraryRight {
    width: 10%;
    position: absolute;
    bottom: 5%;
    cursor: pointer;
}

#changePageLibraryLeft {
    left: 6%;
    transform: scaleX(-1);
}

#changePageLibraryRight {
    right: 6%;
}

@media only screen and (max-width: 600px) {
    #library_container {
        width: 95%;
        height: 100%;
    }

    .shelf {
        border: 0.7vh solid black;
        margin-top: 4%;
    }

    #library_container p {
        bottom: 2%;
        font-size: 2vh;
    }
}