#passage_container > div {
    margin: 3% 0% 2% 0%;
    display: flex;
    width: 100%;
    height: 25%;
}

#options_passage_container {
    display: flex;
    justify-content: space-between;
    width: 12%;
    height: 100%;
    gap: 5px;
}

#options_passage_container img {
    cursor: pointer;
}

#passage_container h2 {
    font-size: 2vh;
    width: 88%;
    height: 100%;
}

#passage_container p {
    font-size: 1.75vh;
}